<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <body>
    <h1>Easy Remind Me</h1>
    <h3>You learned following 5 Months ago:</h3>
    <br>
    <p><a href="www.easyremindme.com/skills/<%= @skill.id %>" target="_blank">Check out on www.easyremindme</a></p>
    <br>
    <p><%= @skill.title %></p>
    <p>language: <%= @skill.language.label %></p>
    <br />
    <%= sanitize @skill.body %>
    <br />
    <p>Comments:</p>
    <% @skill.comments.each do |comment| %>
      <%= sanitize comment.body %>
    <% end %>
  </body>
</html>
